<!-- layouts/partials/whatsapp.html -->
<a href="https://wa.me/+8801601082241" class="whatsapp-float" target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>

<style>
    .whatsapp-float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 25px;
        background-color: #1f2937;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
        transition: 0.3s;
    }
    .whatsapp-float i {
        font-size: 30px;
    }
    .whatsapp-icon {
        margin-top: 16px;
    }
    .whatsapp-float:hover {
        background-color: #0e2b53;
    }
</style>
